<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> KAMESHWAR'S WEBSITE</title>
    <link rel="stylesheet" type="text/css" href="static/aboutstyle.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='k.ico') }}">
</head>
<body>
 Hi there ,this is Kameshwar M and Iam a python developer.I did my Masters(M.E)in Construction Engineering and Management.To
 know more about me, pls check the contact section
 <script src="static/script.js"></script>
</body>
</html>